<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href="/master.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </head>

  <body class="bg-light">
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#">CoffeeFix</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto mr-auto">
          <li id="homeNav" class="nav-item ">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li id="shopNav" class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li id="storesNav"  class="nav-item">
            <a class="nav-link" href="/stores">Stores</a>
          </li>
          <li id="storyNav" class="nav-item">
            <a class="nav-link" href="/story">Our Story</a>
          </li>
          <li id="joinUsNav" class="nav-item">
            <a class="nav-link" href="/joinUs">Join Us</a>
          </li>
        </ul>

        <ul class='navbar-nav mr' style="font-size: 14px;">
          <li id="cartNav" class='nav-item'>
            <a class='nav-link border-right' href='/cart'>
              <span>
                <img src="./images/shopping-cart-solid.svg" style="width: 15px;">
                <span id="cart-number" class="badge badge-warning"></span>
              </span> Cart
            </a>
          </li>
          <li id="ordersNav" class="nav-item">
            <a class="nav-link border-right" href="/orders">
              <span>
                <img src="./images/shopping-bag-solid.svg" style="width: 15px;">
                Orders
              </span>
            </a>
          </li>

          <% if (!currentUser) { %> 
            <li class='nav-item'>
              <a id="accountNav" class='nav-link border-right' href="/account"><span><img src="./images/user-solid.svg" style="width: 15px;"></span> Account</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <span id="accountNav" class="nav-link border-right">
                <img src="./images/user-solid.svg" style="width: 15px;"> 
                <span class="text-dark"><%= currentUser.username %></span>
                <a href="/logout">(Sign out)</a>
              </span>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

      <% if (error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
      <% if (success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
