<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href="/master.css">
  </head>
  <body class="bg-light">
    <!-- =================== Header Navbar ====================== -->
    <nav class="navbar navbar-expand-md navbar-light">
      <!-- <img src="http://www.rainbowlogos.com/wp-content/uploads/2016/05/1-5-800x600.jpg" width="100" height="75" class="d-inline-block align-top" alt=""> -->
      <a class="navbar-brand" href="#">CoffeeFix</a>
      
      <!-- Hamburger mode if needed -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar buttons -->
      <div class="collapse navbar-collapse" id="navbarText">
        <!-- Centered Navbar -->
        <ul class="navbar-nav ml-auto mr-auto">
          <li id="homeNav" class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li id="shopNav" class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li id="storesNav"  class="nav-item">
            <a class="nav-link" href="/stores">Stores</a>
          </li>
          <li id="storyNav" class="nav-item">
            <a class="nav-link" href="/story">Our Story</a>
          </li>
          <li id="joinUsNav" class="nav-item">
            <a class="nav-link" href="/joinUs">Join Us</a>
          </li>
        </ul>
        <!-- Right Aligned Navbar -->
        <ul class='navbar-nav mr' style="font-size: 14px;">
          <li class='nav-item'>
            <a class='nav-link border-right' href='/'><span><img src="./images/shopping-cart-solid.svg" style="width: 15px;"></span> Cart</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link border-right' href="./account"><span><img src="./images/user-solid.svg" style="width: 15px;"></span> Account</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/'><span><img src="./images/info-circle-solid.svg" style="width: 15px;"></span> Help</a>
          </li>
        </ul>
      </div>
    </nav>
