<% include partials/header %>

<div class="container">
  <h1>Your Shopping Cart</h1> 
  <div id="cart">
    <!-- Cart Items -->
  </div>
  <a class="btn btn-warning" href="/checkout">Proceed to Checkout</a>
</div>

<% include partials/footer %>