<% include partials/header %>

<div class="container">
  <h1>Your Items</h1> 

  <div id="cart">
    <!-- Cart Items -->
  </div>

  <button class="btn btn-warning" onclick="checkout();">Checkout</button>
</div>

<% include partials/footer %>