<% include partials/header %>

<!-- =================== PAGE IMAGE ======================= -->
<div class="card" style="width: 100vw;">
  <div class="card-body text-center">
    <h1 class="display-4">Want To Be A Part Of Our Team?</h1>
    <p class="card-text">Contact us via email. We are always looking forward to work with new talent!</p>
  </div>
  <img src="https://images.unsplash.com/photo-1551462577-9aaf3ff5d927?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1512&q=80" class="card-img-bottom" alt="...">
</div>

<% include partials/footer %>