<% include partials/header %>

<div class="card" style="width: 100vw;">
  <div class="card-body text-center">
    <h1 class="display-4">Want To Be A Part Of Our Team?</h1>
    <p class="card-text">Contact us via email. We are always looking forward to work with new talent!</p>
  </div>
  <img src="<%= joinUs.image %>" class="card-img-bottom" alt="...">
</div>

<% include partials/footer %>