<% include partials/header %>

<!-- =================== PAGE IMAGE ======================= -->
<img class="header-image" src="https://raceamplitude.com/amp_/wp-content/uploads/2017/08/coffee-shop.jpg" alt="">

<!-- =================== CONTENT ===================== -->
<div class="container">
  <hr> <!-- ------------------------ -->
  <h1 class="text-center">Select From Our Available Blends</h1>
    <!-- Current class displays the current items-->
  <ul class="coffee-blends">
    <li class="current"><button class="border-0 bg-transparent">All</button></li>
    <li><button class="border-0 bg-transparent">Dark Blends</button></li>
    <li><button class="border-0 bg-transparent">Medium Blends</button></li>
    <li><button class="border-0 bg-transparent">Light Blends</button></li>
    <li><button class="border-0 bg-transparent">Decaf</button></li>
  </ul>
  <hr> <!-- ------------------------ -->

  <!-- ============= COFFEE BLENDS ============== -->
  <div class="row">
    <!-- Coffee Blend 1 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://cdn.shopify.com/s/files/1/0002/1115/7052/products/brazil1_dkroast_400.jpg?v=1549596309" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Dark Expresso</h5>
              <p class="card-text m-0">Blend: Dark</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 2 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://www.holybeanscafe.com/holybeanscafe/wp-content/uploads/2015/11/dark-roast-coffee.jpg" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Haitian</h5>
              <p class="card-text m-0">Blend: Dark</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 3 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="http://cdn.shopify.com/s/files/1/2217/5179/products/frc-french-roast-roasted-coffee-beans_grande.jpg?v=1505296912" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Paris</h5>
              <p class="card-text m-0">Blend: Dark</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 4 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://sep.yimg.com/ay/yhst-133788258843600/mocha-java-organic-coffee-beans-41.gif" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Mocha Java</h5>
              <p class="card-text m-0">Blend: Dark</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 5 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://www.coffeebeandirect.com/media/catalog/product/cache/1/image/0dc6da5b2fe15547a809e30525508fd7/m/e/medium-roast-espresso-wide.jpg" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Medium Expresso</h5>
              <p class="card-text m-0">Blend: Medium</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 6 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://static1.squarespace.com/static/59d9113c90bade192af3e3a0/t/5a2dc13b53450ab787d59f99/1512948028366/food-beans-coffee-drink.jpg" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Coffee Club</h5>
              <p class="card-text m-0">Blend: Medium</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 7 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="http://www.topratedcoffeebeans.com/wp-content/uploads/2014/11/Vienna-roast-beans-300x300.png" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Colombia</h5>
              <p class="card-text m-0">Blend: Medium</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 8 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://www.coffeebeandirect.com/media/catalog/product/cache/1/image/0dc6da5b2fe15547a809e30525508fd7/l/i/light-house-blend-wide.jpg" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">House Blend</h5>
              <p class="card-text m-0">Blend: Light</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 9 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://www.coffeebeandirect.com/media/catalog/product/cache/1/image/0dc6da5b2fe15547a809e30525508fd7/c/o/colombian-supremo-wide.jpg" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Colombian Supremo</h5>
              <p class="card-text m-0">Blend: Light</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 10 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://www.azorieblue.co.uk/wp-content/uploads/2017/04/whole-coffee-beans.png" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Brazilian</h5>
              <p class="card-text m-0">Blend: Decaf</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 11 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://www.friedrichscoffee.com/wp-content/uploads/2018/03/Decaf-Costa-Rica-Vienna.jpg" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Costa Rica</h5>
              <p class="card-text m-0">Blend: Decaf</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Coffee Blend 12 -->
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i0.wp.com/ottosgranary.com/wp-content/uploads/2019/04/Decaf-Cinnamon-Pecan-Praline-Coffee-Beans.jpg?fit=600%2C600&ssl=1" class="card-img cover" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-left">Cinnamon Pecan</h5>
              <p class="card-text m-0">Blend: Decaf</p>
              <p class="card-text">Price: $0.00</p>
              <button type="button" class="btn btn-warning">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<% include partials/footer %>
