<% include partials/header %>

<!-- =================== PAGE IMAGE ======================= -->
<div class="jumbotron jumbotron-fluid view-height-90 store-image">
  <div class="card mt-5 p-3" style="width: 25rem; height: 17rem;">
    <div class="card-body border text-dark">
      <h1 class="card-title">LET'S HAVE SOME COFFEE</h1>
      <h4 class="card-text">Our team is always ready to welcome you and serve your coffee needs.</h4>
    </div>
  </div>
</div>

<!-- =================== CONTENT ===================== -->
<div class="container">
  <hr> <!-- ------------------------ -->
  <h1 class="text-center">Locations</h1>
  <hr> <!-- ------------------------ -->

  <!-- ============= LOCATIONS ============== -->
  <div class="row">

    <% 
      let visited = [];
      stores.forEach(function(store) {
        if (!visited.includes(store.city)) {
          visited.push(store.city); 
    %>
          <h1 class="col-12 text-center display-4"> <%= store.city %> </h1>
    <% } %>
        <div class="col-md-6 col-lg-4">
          <div class="card mb-3" style="width: 18rem; height: 14rem; background: url('<%=store.bgImage%>') no-repeat; background-size: cover;">
            <div class="card-body">
              <h1 class="card-title text-white mt-5"> <%= store.street %> </h1>
            </div>
          </div>
        </div>
    <% }); %> 

  </div>
</div>

<% include partials/footer %>
