<% include partials/header %>

<div class="card" style="width: 100vw;">
  <div class="card-body text-center">
    <h1 class="display-4">The Making of CoffeeFix</h1>
    <p class="card-text">CoffeeFix's goals was to be able to discover new coffee flavors and share those creations among all coffee lovers.</p>
  </div>
  <img src="<%= story.image %>" class="card-img-bottom" alt="...">
</div>

<% include partials/footer %>
