html, body {
  margin: 0;
  padding: 0;
}

/* ========= Header =========== */
#header {
  width: 100%;
  height: 80px;
  background: rgba(228, 217, 217, 0.899);
}

/* Image logo on far left side */
.left {
  float: left;
  height: 100%;
  width: 125px;
}

.middle, .right {
  list-style-type: none;
}

.middle {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
  margin-right: 25px;
}

.middle li, .right li {
  background: rgba(120, 92, 1, 0.639);
  border-radius: 10px;
  float: left;
  margin-left: 25px;
  padding: 15px;
  text-align: center;
}

.middle li a, .right li a {
  color: #000000;
  text-decoration: none;
}
